<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Photo Album</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="index.css" rel="stylesheet" type="text/css" />
    <script src="index.js"></script>
    <script src="index.js"></script>
  </head>
  <body ng-app="myApp" ng-controller="photoCtrl">
    <div>
      <p class="search">Search for what you like: <input ng-model="search"></p>
      <div class="top">
          <button class="pagesize" ng-click="pageSize = 4">4 images</button>
          <button class="pagesize" ng-click="pageSize = 8">8 images</button>
          <button class="pagesize" ng-click="pageSize = 12">12 images</button>
          <button class="pagesize" ng-click="pageSize = 16">16 images</button>
      </div>
        <ul>
            <div class="img" ng-repeat="photo in photos | filter:search |limitTo : pageSize : currentPage*pageSize">
                <img class= "photo" ng-click="open()" src={{photo.name}} />
            </div>
        </ul>
        </div>
    <div class="pagination">
    <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
        Previous
    </button>
    {{currentPage+1}}/{{numberOfPages()}}
    <button ng-disabled="currentPage >= photos.length/pageSize - 1" ng-click="currentPage=currentPage+1">
        Next
    </button>
   </div>
  </body>
</html>
