body {
background-color:#F9F5EC;
font:14px Arial;
}
.pagesize{
display:inline-block;
padding: 4px 8px;
}
.top {
    margin-left:20%;
}
.img {
  display:inline-block;
  padding: 5px 35px;
   }
.photo {
  width: 240px;
  height:150px;
  border-radius:4px;
  }
.photo:hover {
    box-shadow: 6px 5px #A9A9A9;
    opacity: 0.9;
    }
.photo:active {
  opacity:1;
  width: 720px;
  height:450px;
  border-radius:10px;
}
.pagination {
  bottom:0;
  left:20%;
  position:relative;
  }

.search {
  left:20%;
  position:relative;
  }
button {
  border-radius: 2px;
  font-weight: 700;
  background-color:#FFE6D0;
}
input {
  border-radius: 5px;
}
.enlarge {
  width: 2400px;
  height:1500px;
  border-radius:4px;
}
